$color_AliceBlue:#F0F8FF;
$color_AntiqueWhite:#FAEBD7;
$color_Aqua: #00FFFF;
$color_Aquamarine:#7FFFD4;
$color_Azure:#F0FFFF;
$color_Beige:#F5F5DC;
$color_Bisque:#FFE4C4;
$color_Black:#000000;
$color_BlanchedAlmond:#FFEBCD;
$color_Blue:#0000FF;
$color_BlueViolet:#8A2BE2;
$color_Brown:#A52A2A;
$color_BurlyWood:#DEB887;
$color_CadetBlue:#5F9EA0;
$color_Chartreuse:#7FFF00;
$color_Chocolate:#D2691E;
$color_Coral:#FF7F50;
$color_CornflowerBlue:#6495ED;
$color_Cornsilk:#FFF8DC;
$color_Crimson:#DC143C;
$color_Cyan:#00FFFF;
$color_DarkBlue:#00008B;
$color_DarkCyan:#008B8B;
$color_DarkGoldenRod:#B8860B;
$color_DarkGray:#A9A9A9;
$color_DarkGreen:#006400;
$color_DarkKhaki:#BDB76B;
$color_DarkMagenta:#8B008B;
$color_DarkOliveGreen:#556B2F;
$color_Darkorange:#FF8C00;
$color_DarkOrchid:#9932CC;
$color_DarkRed:#8B0000;
$color_DarkSalmon:#E9967A;
$color_DarkSeaGreen:#8FBC8F;
$color_DarkSlateBlue:#483D8B;
$color_DarkSlateGray:#2F4F4F;
$color_DarkTurquoise:#00CED1;
$color_DarkViolet:#9400D3;
$color_DeepPink:#FF1493;
$color_DeepSkyBlue:#00BFFF;
$color_DimGray:#696969;
$color_DodgerBlue:#1E90FF;
$color_Feldspar:#D19275;
$color_FireBrick:#B22222;
$color_FloralWhite:#FFFAF0;
$color_ForestGreen:#228B22;
$color_Fuchsia:#FF00FF;
$color_Gainsboro:#DCDCDC;
$color_GhostWhite:#F8F8FF;
$color_Gold:#FFD700;
$color_GoldenRod:#DAA520;
$color_Gray:#808080;
$color_Green:#008000;
$color_GreenYellow:#ADFF2F;
$color_HoneyDew:#F0FFF0;
$color_HotPink:#FF69B4;
$color_IndianRed :#CD5C5C;
$color_Indigo :#4B0082;
$color_Ivory:#FFFFF0;
$color_Khaki:#F0E68C;
$color_Lavender:#E6E6FA;
$color_LavenderBlush:#FFF0F5;
$color_LawnGreen:#7CFC00;
$color_LemonChiffon:#FFFACD;
$color_LightBlue:#ADD8E6;
$color_LightCoral:#F08080;
$color_LightCyan:#E0FFFF;
$color_LightGoldenRodYellow:#FAFAD2;
$color_LightGrey:#D3D3D3;
$color_LightGreen:#90EE90;
$color_LightPink:#FFB6C1;
$color_LightSalmon:#FFA07A;
$color_LightSeaGreen:#20B2AA;
$color_LightSkyBlue:#87CEFA;
$color_LightSlateBlue:#8470FF;
$color_LightSlateGray:#778899;
$color_LightSteelBlue:#B0C4DE;
$color_LightYellow:#FFFFE0;
$color_Lime:#00FF00;
$color_LimeGreen:#32CD32;
$color_Linen:#FAF0E6;
$color_Magenta:#FF00FF;
$color_Maroon:#800000;
$color_MediumAquaMarine:#66CDAA;
$color_MediumBlue:#0000CD;
$color_MediumOrchid:#BA55D3;
$color_MediumPurple:#9370D8;
$color_MediumSeaGreen:#3CB371;
$color_MediumSlateBlue:#7B68EE;
$color_MediumSpringGreen:#00FA9A;
$color_MediumTurquoise:#48D1CC;
$color_MediumVioletRed:#C71585;
$color_MidnightBlue:#191970;
$color_MintCream:#F5FFFA;
$color_MistyRose:#FFE4E1;
$color_Moccasin:#FFE4B5;
$color_NavajoWhite:#FFDEAD;
$color_Navy:#000080;
$color_OldLace:#FDF5E6;
$color_Olive:#808000;
$color_OliveDrab:#6B8E23;
$color_Orange:#FFA500;
$color_OrangeRed:#FF4500;
$color_Orchid:#DA70D6;
$color_PaleGoldenRod:#EEE8AA;
$color_PaleGreen:#98FB98;
$color_PaleTurquoise:#AFEEEE;
$color_PaleVioletRed:#D87093;
$color_PapayaWhip:#FFEFD5;
$color_PeachPuff:#FFDAB9;
$color_Peru:#CD853F;
$color_Pink:#FFC0CB;
$color_Plum:#DDA0DD;
$color_PowderBlue:#B0E0E6;
$color_Purple:#800080;
$color_Red:#FF0000;
$color_RosyBrown:#BC8F8F;
$color_RoyalBlue:#4169E1;
$color_SaddleBrown:#8B4513;
$color_Salmon:#FA8072;
$color_SandyBrown:#F4A460;
$color_SeaGreen:#2E8B57;
$color_SeaShell:#FFF5EE;
$color_Sienna:#A0522D;
$color_Silver:#C0C0C0;
$color_SkyBlue:#87CEEB;
$color_SlateBlue:#6A5ACD;
$color_SlateGray:#708090;
$color_Snow:#FFFAFA;
$color_SpringGreen:#00FF7F;
$color_SteelBlue:#4682B4;
$color_Tan:#D2B48C;
$color_Teal:#008080;
$color_Thistle:#D8BFD8;
$color_Tomato:#FF6347;
$color_Turquoise:#40E0D0;
$color_Violet:#EE82EE;
$color_VioletRed:#D02090;
$color_Wheat:#F5DEB3;
$color_White:#FFFFFF;
$color_WhiteSmoke:#F5F5F5;
$color_Yellow:#FFFF00;
$color_YellowGreen:#9ACD32;
