@import './var.scss';


body {
    overflow: hidden;
    padding: 0px !important;
    margin: 0px;
    height: 100%;
    width: 100%;
}

#app{
    height: 100%;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    body {
        // background: #333;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        // background: white;
        color: #333;
    }
}

.normal-content {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.tabContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;

    .tabCard {
        width: $cardWidthPer;
        min-width: $cardMinWidth;
        margin: 10px;

        .titleBar {
            display: flex;
            align-items: center;

            .title {
                flex-grow: 1;
            }

            .barCtrl {
                margin-left: 10px !important;
            }
        }

        .searchInput {
            width: 125px;
            margin-right: 10px;
        }

        .propValue {
            letter-spacing: 2px;
            border: 1px solid rgba(0, 0, 0, 0.082);
            border-radius: 10px;
            display: flex;
            padding-left: 10px;
            align-items: center;
            margin-right: 20px;
            min-height: 38px;
            max-height: 38px;
            height: 38px;
            flex-grow: 1;
        }

        .textleft {
            justify-content: flex-start;
        }

        .textcenter {
            justify-content: center;
        }
    }

    .btnCtrl {
        width: 420px;
    }
}

.formItem {
    display: flex;
    align-items: center;
    width: 100%;

    .input {
        margin-right: 10px;
        width: 100%;
        display: flex;
    }
}

.footer {
    display: flex;
    margin-top: 25px;

    .btn {
        width: 120px;
    }
}

.valueReadOnly {
    background-color: rgba(194, 193, 191, 0.2);
}

.empty {
    flex-grow: 1;
}

.fill-all {
    flex-grow: 1;
    border-right: 1px solid $lineColor;
}

.login-bg {
    background-image: linear-gradient(to bottom right, #323a5f, #FFFFFF);
}

.btnCtrl {
    width: 120px !important;
}

.ctrl-region {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $headerHeight;
    padding-left: 15px;
    padding-right: 15px;
    background-color: aliceblue;
}

.panel-content {
    display: flex;
    font-size: 16px;
    align-items: center;
    margin-bottom: 5px;
    .ex-btn {
        min-width: 320px;
    }

    a {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.panel-warn {
    display: flex;
    flex-direction: column;
    border: 1px solid olive;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    margin-top: 20px;
    .item {
        line-height: 35px;
    }
}

.table-clm-ctrl{
    display: flex;
    flex-direction: row;
}